header {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  background-color: #4169e1;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.login-bar {
  display: flex;
}

.register {
  margin-right: 10px;
}

.filter-section {
  border-right: 1px solid black;
  min-height: 700px;
}

.card-image {
  width: 200px;
  height: 256px;
}

.card {
  width: 240px;
  padding-left: 20px;
  margin-top: 20px;
}

.card p {
  margin-bottom: 0px;
}
